@charset "utf-8";

/* index 공통 */
.header{position: fixed;top: 0;left: 0;width: 100%; z-index: 100;}
/* index 1 */
#cnt1{display: flex;flex-direction: row;flex-wrap: wrap;justify-content: flex-center;align-items: stretch;text-align: center;color: #000000;background: #fff;background: url("../images/main/index1_bg.PNG") no-repeat center top;background-size: cover;height: 839px;}

/* .section .cnt {background: pink;} */
.section .cnt .whiteBox{position: relative; top: 150px; left: 80px; width: 1200px;height: 300px; background: rgba(255, 255, 255, 0.6);}
.section .cnt h3{width: 1200px; height: 180px; padding-top: 70px; margin-bottom: 38px;}
.section .cnt h3::after{content: ""; position: absolute; width: 670px; height: 1px; left: 273px; top: 180px; background-color: #333;}
.section .cnt p{position: absolute; top: 219px; left: 442px; font-weight: 700; font-size: 35px; color: #333;}

#cnt1 .mainchoice {position: absolute; top: 450px;}

/* #formBox{position: relative; padding-top: 11px;}
#formBox,#formBox div{height: 70px;}
#formBox div{position: relative;float: left;}
#formBox div input,#formBox button{height: 100px;font-size: 18px;line-height: 100px;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
#formBox label{background: #083B82;}
#formBox #startDay{width: 380px;}
#formBox #startStation{width: 235px;}
#formBox #arrivalStaion{width: 235px;}
#formBox #startHour{width: 290px;background: #fff;}
#formBox #start{width: 290px;background: #fff;}
#formBox button{position: relative;width: 220px;background: #083B82;text-align: center;font-size: 18px;} */

.section .cnt .btn a{position: absolute;display: table; top: 760px; left: calc(50% - 100px); width: 200px; height: 80px; color: #fff; font-size: 25px; line-height: 80px; border: 1px solid #fff;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box; transition: all 0.5s;}
.section .cnt .btn a:hover, section .cnt .btn a:focus{background: #083b82;border-color:#083b82;}

/* .section .cnt .arrow span{position: absolute; } */
.section .cnt .arrow span{display: block; position: absolute; top: 860px; left: calc(50% - 15px); background: url("../images/main/arrow.png") no-repeat; width: 30px;height: 30px;}

.arrow span{top: 13px;-webkit-animation: arrow 3s 0s infinite;-moz-animation: arrow 1s 0s infinite;-o-animation: arrow 1s 0s infinite;animation: arrow 1s 0s infinite;} 

@-webkit-keyframes arrow{
    0%{opacity: 0.5;}
    100%{opacity: 1;}
 }
 @-moz-keyframes arrow{
    0%{opacity: 0.5;}
    100%{opacity: 1;}
 }
 @-o-keyframes arrow{
    0%{opacity: 0.5;}
    100%{opacity: 1;}
 }
 @keyframes arrow{
    0%{opacity: 0.5;}
    100%{opacity: 1;}
 }

/* index 2 */
/* index 3 */